<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sso.goods.dao.BrandMapper">

    <select id="queryBrandList" resultType="com.sso.goods.entity.vo.BrandVo"
            parameterType="com.sso.goods.entity.command.BrandCommand">
        SELECT b.id,b.name,b.image,b.letter,COUNT(spu.id) AS goodsNum,IFNULL(SUM(spu.comment_num),0) AS commentNum
        FROM tb_brand b
        LEFT JOIN tb_spu spu  ON  b.id = spu.brand_id
        WHERE is_deleted=0
        <if test="name !=null and name !=''">
            AND name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test="letter !=null and letter !=''">
            AND letter LIKE CONCAT('%',#{letter},'%')
        </if>

        <if test="id !=null ">
            AND id=#{id}
        </if>
        GROUP BY b.id ,b.name
    </select>
</mapper>
